@model WebApplicationStoreAdmin.Models.BD_SendProductsPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BD_SendProductsPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BD_Country.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BD_Country.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BD_States.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BD_States.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SD_Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SD_Product.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
