@model WebApplicationStoreAdmin.Models.SD_Votes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SD_Votes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductChargePropertiesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductChargePropertiesID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Star)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
