@model WebApplicationStoreAdmin.Models.SD_Coupons

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SD_Coupons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CouponPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxRialValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxRialValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
