@model WebApplicationStoreAdmin.Models.SD_ProductChargesProperties

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SD_ProductChargesProperties</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SD_Color.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SD_Color.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SD_ProductCharges.BuyInvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SD_ProductCharges.BuyInvoiceNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
